---
import Intro from "./Intro.astro";
import ProjectLayout from "@/layouts/ProjectLayout.astro";
import projectsData from "@/projects.json";
const projectsToShow = projectsData.filter((project) => !project.archive);
---

<section>
  <div class="p-4 md:flex md:h-screen md:items-center md:justify-center">
    <div
      class="hide-scrollbar mx-auto flex w-full flex-col items-center gap-4 overflow-x-auto md:flex-row md:items-stretch"
    >
      <!-- {
        Array.from({ length: 4 }, (index, _) => (
          <Intro key={index} className='md:min-w-[500px] ' />
        ))
      } -->
      <Intro className="md:min-w-[500px]" />
      {
        projectsToShow.map((project) => (
          <ProjectLayout
            name={project.name}
            description={project.description}
            techStacks={project.techStacks}
            url={project.url}
            className="md:min-w-[500px]"
          />
        ))
      }
    </div>
  </div>
</section>
<style>
  .hide-scrollbar {
    scrollbar-width: none;
  }
</style>
