---
import Intro from './Intro.astro';
import EasySL from './EasySL.astro';
import ResaleTorg from './ResaleTorg.astro';
import KeyMotion from './KeyMotion.astro';
import StockholmFoodCheck from './StockholmFoodCheck.astro';
import NewEasySL from './NewEasySL.astro';
import ProjectLayout from '@/layouts/ProjectLayout.astro';
import projectsData from '@/projects.json';
---

<section>
  <div class='p-4'>
    <div
      class='flex flex-col md:flex-row items-center mx-auto gap-4 overflow-x-auto w-full md:items-stretch'
    >
      <!-- {
        Array.from({ length: 4 }, (index, _) => (
          <Intro key={index} className='md:min-w-[500px] ' />
        ))
      } -->
      <Intro className='md:min-w-[500px]' />
      {
        projectsData.map((project) => (
          <ProjectLayout
            name={project.name}
            description={project.description}
            tech={project.tech}
            url={project.url}
            className='md:min-w-[500px]'
          />
        ))
      }
      <!-- 
      <StockholmFoodCheck />

      <EasySL />

      <ResaleTorg />

      <KeyMotion /> -->

      <!-- <Resume /> -->

      <!-- <Newsletter /> -->
      <!-- <Testimonials /> -->
      <!-- <Outro /> -->
    </div>
  </div>
</section>
